// Define variables for our components

$primary: #FF8600;
$primary_bis: #FF6C00;
$secondary: #6c757d;
$secondary_bis: #5c636a;
$success: #198754;
$success_bis: #157347;
$danger: #dc3545;
$danger_bis: #bb2d3b;
$warning: #ffc107;
$warning_bis: #ffca2c;
$info: #0dcaf0;
$info_bis: #31d2f2;
$light: #f8f9fa;
$light_bis: #f8f9fa;
$dark: #212529;
$dark_bis: #212529;

// define variables for this project
$color1: #27187E;
$color2: #27187E;
$color3: #AEB8FE;
$color4: #F1F2F6;
