.home-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
  background-color: yellow;
}
.home-container-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 50%;
}
.home-container-text-title {
  h1 {
    color: $color1;
    font-weight: 600;
  }
}
.home-container-text-slogan {
  h2 {
    color: $color1;
    font-weight: 400;
    text-align: center;
  }
  em {
    color: $primary;
    font-style: normal;
    font-weight: 500;
  }
}
.home-container-image {
  height: 100%;
  background-image: url("william-topa-7_4bU5tHRLQ-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media only screen and (min-width: 700px) {
  .home-container {
    flex-direction: row;
  }
  .home-container-image {
    width: 100%;
    background-attachment: fixed;
  }
}
.home-article {
  height: calc((100vh / 2) - 40px);
  background-color: $light;
  h1 {
    color: $dark;
    text-align: center;
    font-weight: 200;
  }
  h2 {
    color: $dark;
    text-align: center;
  }
} 
.how {
  background-color: $light;
}
.why {
  background-color: $color3;
}
.home-article-container {
  display: flex;
  justify-content: space-around;
}
.home-article-container-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-width: 300px;
  h3 {
    color: $dark;
  }
}
.home-article-container-element-logo {
  margin-top: 20px;
}
.home-article-container-element-text {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-self: start;
  min-height: 180px;
  max-width: 350px;
  text-align: center;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  color: $light;
  background-color: $color1;
}
.footer-right {
  text-align: right;
}
.email {
  text-decoration: none;
  text-decoration: underline;
  color: $light;
}
