.to-container {
  color: $light;
}
.to-container-flight-info {
  display: flex;
  flex-direction: column;
}
.to-container-flight-summary {
  width: 100%;
  background-color: $dark;
  em {
    color: #FF8600;
    font-style: normal;
    font-weight: 500;
  }
  h1 {
    color: $light;
  }
  h3 {
    margin: 12px 0px;
  }
}
.to-container-map {
  height: 70vh;
  width: 100%;
}
.to-container-airport-selection{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}
.to-as-flight {
  display: flex;
  flex-direction: column; 
  width: fit-content;
  width: 100%;
  background-color: $color1;
  h3 {
    color: $color3;
  }
}
.to-as-flight-element{
  display: flex;
  flex-direction: row;
  overflow: auto;
  align-items: center;
  table, th, td{
    border-collapse: collapse;
    border: 1px dotted;
    font-size: 0.8em;
    color: $color3;
    text-align: center;
  }
}
.to-as-fe-airport-title {
  color: $color1;
  background-color: $color2;
}
.to-cell-weather-success {
  opacity: 0.8;
  background-color: $success; 
  color: $success;
}
.to-cell-weather-warning {
  opacity: 0.8;
  background-color: $warning; 
  color: $warning;
}
.to-cell-weather-danger {
  opacity: 0.8;
  background-color: $danger; 
  color: $danger;
}
.to-cell-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.to-as-accommodation{

}
@media only screen and (min-width: 700px) {
  .to-container-flight-info {
    flex-direction: row;
  }
  .to-container-flight-summary {
    border-radius: $border-radius;
    max-width: 350px;
    margin: 10px;
  }
  .to-container-map {
    border-radius: $border-radius;
    margin: 10px;
    height: auto;
  }
  .to-as-flight {
    border-radius: $border-radius;
    padding: 10px;
    margin: 10px;
    max-width: 800px;
    width: fit-content;
    box-shadow: 5px 5px 5px #888;
  }
  .to-as-flight-element{
  }
  .to-as-fe-airport-title {
    border-radius: $border-radius;
  }
  .to-container-airport-selection{
    flex-direction: unset;
    justify-content: space-evenly;
  }
}
