.container-trip-inputs{
  background-image: url("jonathan-letniak-oNb7-Bfmho4-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:calc(100vh - 64px);
}
.container-trip-info {
  background-color: $dark;
  opacity: 0.8;
  color: $light;
  width: 100%;
  padding-bottom: 30px;
  h1,h2 {
    color: $light;
  }
  em {
    color: $primary;
    font-style: normal;
    font-weight: 500;
  }
}
label {
  font-size: 1.25em;
  font-weight: 400;
}
.container-trip-input-buttons {
  width: 100%;
}
@media only screen and (min-width: 700px) {
  .container-trip-info {
    max-width: 700px;  
    margin: 0 auto;
  }
}

