.container-trip-inputs{
  background-image: url("jonathan-letniak-oNb7-Bfmho4-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 64px);
}
.container-trip-info {
  position: relative;
  top: calc(100vh / 3);
  padding: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  background-color: $dark;
  border-radius: $border-radius;
  opacity: 0.8;
  color: $light;
  width: fit-content;
  h1,h2 {
    color: $light;
  }
  em {
    color: $primary;
    font-style: normal;
    font-weight: 500;
  }
}
