<h1>TripOutputs#index</h1>
Departure Airport: <%= @trip_input.dep_airport_icao %></br>
------------------</br>
<% @result.each do |airport| %>
  <%= "#{airport.icao} - #{airport.name} (#{airport.country} - #{airport.city}) - #{airport.airport_type} at #{airport.distance.round(2)} nm" %></br>
<% end %>

