<div class="footer">
  <div>
      <%= link_to root_path do %>
        <%= image_tag "icon_plane_light.png", alt: "Weekend-fly logo", class: "avatar-large" %>
      <% end %>
  </div>
  <div>
    <p>Disclaimer</p>
  </div>
  <div class="footer-right">
  Contact us</br>
  <%= mail_to "contact@aerostan.com", "contact@aerostan.com", class: "email" %> </br>
      +33 6 07 21 84 63
  </div>
</div>
