<div class="container">
  <div class="container-text">
    <div class="container-text-title">
      <h1>Week-end fly</h1>
    </div>
    <div class="container-text-slogan">
      <h2>Good <em>weather</em> and <em> accomodation</em> waiting you at destination!</h2>
    </div>
    <div>
      <%= link_to "Plan trip!", pages_home_path, class:"btn btn-primary" %>
    </div>
  </div>
  <div class="container-image">
  </div>
</div>
<div class="how">
  <h1>How does it work?</h1>
  <div class="why-container">
    <div class="why-container-element">
      <div>
        <%= image_tag("file-text.png", style: "height:100px; width:auto") %>
      </div>
      <div>
        <h3>Trip parameters</h>
      </div>
    </div>
    <div class="why-container-element">
      <div>
        <%= image_tag("briefcase.png", style: "height:100px; width:auto") %>
      </div>
      <div>
        <h3>Weather & Accomodation</h>
      </div>
    </div>
    <div class="why-container-element">
      <div>
        <%= image_tag("send.png", style: "height:100px; width:auto") %>
      </div>
      <div>
        <h3>Book & Fly</h>
      </div>
    </div>
  </div>
</div>
<div class="why">
  <h1>Why register?</h1>
</div>
