<div class="container">
  <div class="container-text">
    <div class="container-text-title">
      <h1>Week-end fly</h1>
    </div>
    <div class="container-text-slogan">
      <h2>Good <em>weather</em> and <em> accomodation</em> waiting you at destination!</h2>
    </div>
    <div>
      <%= link_to "Plan trip!", pages_home_path, class:"btn btn-primary" %>
    </div>
  </div>
  <div class="container-image">
  </div>
</div>
<article class="how">
  <h1>How does it work?</h1>
  <div class="article-container">
    <div class="article-container-element">
      <div class="article-container-element-logo">
        <%= image_tag("settings.svg", style: "height:100px; width:auto") %>
      </div>
      <div class="article-container-element-text">
        <h2>Trip parameters</h2>
        Choose parameters as departure airport,take-off time, arrival day and flying distance.
      </div>
    </div>
    <div class="article-container-element">
      <div class="article-container-element-logo">
        <%= image_tag("map.svg", style: "height:100px; width:auto") %>
      </div>
      <div class="article-container-element-text">
        <h2>Destination</h2>
        On an intercative map, you'll find eligible airports having good weather in the flying radius.
      </div>
    </div>
    <div class="article-container-element">
      <div class="article-container-element-logo">
        <%= image_tag("briefcase.svg", style: "height:100px; width:auto") %>
      </div>
      <div class="article-container-element-text">
        <h2>Accomodation</h2>
        For each potential destination airport, we'll suggest you some available accomodations. </br>Make your choice! 
      </div>
    </div>
  </div>
</article>
<article class="why">
  <h1>Why register?</h1>
</article>
