.navbar-container {
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-right-buttons {
  display: none;
}
.navbar-welcome {
  font-size: 0.75em;
}
.nb-light {
  background-color: $light;
  color: $secondary;
}
.nb-dark {
  background-color: $dark;
}
@media only screen and (min-width: 450px)
{
  .navbar-right-buttons {
    display: block;
  }
  .navbar-welcome {
    font-size: 1em;
  }
}
