.nav {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0px;
}

.nav-item {
  padding: 0px 5px;
}

.active {
  background-color: $primary_bis;
  border-radius: $border-radius;
  color: white !important;
}

.nav-link {
  text-decoration: none;
  transition: 0.25s;
  padding: 10px;
  color: $secondary;
}

.nav-link:hover {
  color: $primary_bis;
  transition: 0.25s;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}
